<a href="https://colab.research.google.com/github/Sedinei/DSWP/blob/master/NB_trabalhado/Desafio_Pandas_NB10_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exerc√≠cio
* A partir dos dataframes USA_Abbrev, USA_Area e USA_Population, construa o Dataframe USA contendo as COLUNAS state, abbreviation, area, ages, year, population.

In [1]:
import pandas as pd

In [2]:
url_usa_abbrev = 'https://github.com/Sedinei/DSWP/raw/master/Dataframes/USA_Abbrev.csv'
url_usa_area = 'https://github.com/Sedinei/DSWP/raw/master/Dataframes/USA_Area.csv'
url_usa_population = 'https://github.com/Sedinei/DSWP/raw/master/Dataframes/USA_Population.csv'

In [3]:
df_usa_abbrev = pd.read_csv(url_usa_abbrev)
df_usa_area = pd.read_csv(url_usa_area)
df_usa_population = pd.read_csv(url_usa_population)

In [5]:
df_usa = df_usa_population.merge(df_usa_abbrev, how='outer', left_on='state_region', right_on='abbreviation')

In [6]:
df_usa = df_usa.merge(df_usa_area, how='outer', on='state').drop(columns='state_region')

In [7]:
df_usa.head()

      ages    year  population    state abbreviation     area
0  under18  2012.0   1117489.0  Alabama           AL  52423.0
1    total  2012.0   4817528.0  Alabama           AL  52423.0
2  under18  2010.0   1130966.0  Alabama           AL  52423.0
3    total  2010.0   4785570.0  Alabama           AL  52423.0
4  under18  2011.0   1125763.0  Alabama           AL  52423.0