<a href="https://colab.research.google.com/github/Sedinei/DSWP/blob/master/NB_trabalhado/FIFA_NB10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importes e configurações

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
# Ajusta as configurações do Pandas e do Seaborn
d_configuracao = {
    'display.max_columns': 1000,
    'display.expand_frame_repr': True,
    'display.max_rows': 50,
    'display.precision': 2,
    'display.show_dimensions': True
                  }

for op, value in d_configuracao.items():
    pd.set_option(op, value)

sns.set_theme(style='dark')

## Significado da variável 'Position'
* GK = Goalkeeper – Goleiro.
* RB = Right Back – Zagueiro Direito.
* CB = Central Back – Zagueiro Central.
* LB = Left Back – Zagueiro Esquerdo.
* SW = Sweeper – Líbero.
* RWB = Right Wing Back – Lateral Direito.
* LWB = Left Wing back – Lateral Esquerdo.
* CDM = Central Defensive Midfielder – Meio Campo Defensivo / Volante.
* CM = Central Midfielder – Meia Central.
* CAM = Center Attacking Middlefielder – Meio Campo Ofensivo / Armador.
* OM = Offensive Midfielder – Meia Ofensivo.
* LOM = Left Offensive Midfielder – Meia Esquerda Ofensivo.
* ROM = Right Offensive Midfielder – Meia Direita Ofensivo.
* LM = Left Midfielder – Meia Esquerda.
* RM = Right Midfielder – Meia Direita.
* LWM = Left Wing Midfielder – Meio Ala Esquerdo.
* RWM = Right Wing Midfielder – Meio Ala Direito.
* RW = Right Winger – Ala Direito.
* LW = Left Winger – Ala Esquerto.
* LF = Left Forward – Atacante Esquerdo.
* RF = Right Forward – Atacante Direito.
* ST = Striker – Atacante.
* CF = Center Forward – Centro Avante.
* RS = Right Striker – Atacante Direito.
* LS = Left Striker – Atacante Esquerdo.

___
## 1. Carregue o arquivo FIFA.csv (está na área de Dataframes do curso);

In [48]:
url = 'https://raw.githubusercontent.com/Sedinei/DSWP/master/Dataframes/FIFA.csv'
df_fifa = pd.read_csv(url, index_col='ID')
df_fifa.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
158023,0,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,€110.5M,€565K,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,"Jul 1, 2004",NaN,2021,5'7,159lbs,88+2,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,93+2,91+2,84+2,84+2,84+2,91+2,64+2,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
20801,1,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,€77M,€405K,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,"Jul 10, 2018",NaN,2022,6'2,183lbs,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
190871,2,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,€118.5M,€290K,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,"Aug 3, 2017",NaN,2022,5'9,150lbs,84+3,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,88+3,81+3,81+3,81+3,88+3,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
193080,3,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,€72M,€260K,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,"Jul 1, 2011",NaN,2020,6'4,168lbs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
192985,4,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,€102M,€355K,2281,Right,4.0,5.0,4.0,High/ High,Normal,Yes,RCM,7.0,"Aug 30, 2015",NaN,2023,5'11,154lbs,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,88+3,88+3,87+3,87+3,87+3,88+3,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

___
## 2. Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?

In [6]:
df_fifa.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

A importância de se identificar o que pode ser iliminado é a de diminuir o espaço em memória e concentrar no que é importante. Também evita contaminações indevidas em razão de variáveis não úteis.
As colunas que não são importantes para a análise que vamos fazer são:
* Unnamed: 0 -> É apenas uma sequencia numérica de cada linha. Já temos o ID que identifica o jogador;
* Photo -> É apenas a imagem do jogador;
* Flag -> Bandeira da nacionalidade;
* Club Logo -> Imagem do logo do clube;
* Body Type -> Imagem do personagem no jogo;
* Real Face -> Indica se o personagem tem o rosto do jogador;

In [49]:
df_fifa.drop(columns=['Unnamed: 0', 'Photo', 'Flag', 'Club Logo', 'Body Type', 'Real Face'], inplace=True)
df_fifa.columns

Index(['Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value',
       'Wage', 'Special', 'Preferred Foot', 'International Reputation',
       'Weak Foot', 'Skill Moves', 'Work Rate', 'Position', 'Jersey Number',
       'Joined', 'Loaned From', 'Contract Valid Until', 'Height', 'Weight',
       'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM',
       'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB',
       'LCB', 'CB', 'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

___
## 3. Qual o dtype de cada variável/atributo do dataframe?

In [9]:
df_fifa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18207 entries, 158023 to 246269
Data columns (total 82 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      18207 non-null  object
 1   Age                       18207 non-null  int64
 2   Nationality               18207 non-null  object
 3   Overall                   18207 non-null  int64
 4   Potential                 18207 non-null  int64
 5   Club                      17966 non-null  object
 6   Value                     18207 non-null  object
 7   Wage                      18207 non-null  object
 8   Special                   18207 non-null  int64
 9   Preferred Foot            18159 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Weak Foot                 18159 non-null  float64
 12  Skill Moves               18159 non-null  float64
 13  Work Rate                 18159 non-null  object
 14  Position                  18147 non-null  object
 15  Jersey Number             18147 non-null  float64
 16  Joined                    16654 non-null  object
 17  Loaned From               1264 non-null   object
 18  Contract Valid Until      17918 non-null  object
 19  Height                    18159 non-null  object
 20  Weight                    18159 non-null  object
 21  LS                        16122 non-null  object
 22  ST                        16122 non-null  object
 23  RS                        16122 non-null  object
 24  LW                        16122 non-null  object
 25  LF                        16122 non-null  object
 26  CF                        16122 non-null  object
 27  RF                        16122 non-null  object
 28  RW                        16122 non-null  object
 29  LAM                       16122 non-null  object
 30  CAM                       16122 non-null  object
 31  RAM                       16122 non-null  object
 32  LM                        16122 non-null  object
 33  LCM                       16122 non-null  object
 34  CM                        16122 non-null  object
 35  RCM                       16122 non-null  object
 36  RM                        16122 non-null  object
 37  LWB                       16122 non-null  object
 38  LDM                       16122 non-null  object
 39  CDM                       16122 non-null  object
 40  RDM                       16122 non-null  object
 41  RWB                       16122 non-null  object
 42  LB                        16122 non-null  object
 43  LCB                       16122 non-null  object
 44  CB                        16122 non-null  object
 45  RCB                       16122 non-null  object
 46  RB                        16122 non-null  object
 47  Crossing                  18159 non-null  float64
 48  Finishing                 18159 non-null  float64
 49  HeadingAccuracy           18159 non-null  float64
 50  ShortPassing              18159 non-null  float64
 51  Volleys                   18159 non-null  float64
 52  Dribbling                 18159 non-null  float64
 53  Curve                     18159 non-null  float64
 54  FKAccuracy                18159 non-null  float64
 55  LongPassing               18159 non-null  float64
 56  BallControl               18159 non-null  float64
 57  Acceleration              18159 non-null  float64
 58  SprintSpeed               18159 non-null  float64
 59  Agility                   18159 non-null  float64
 60  Reactions                 18159 non-null  float64
 61  Balance                   18159 non-null  float64
 62  ShotPower                 18159 non-null  float64
 63  Jumping                   18159 non-null  float64
 64  Stamina                   18159 non-null  float64
 65  Strength                  18159 non-null  float64
 66  LongShots                 18159 non-null  float64
 67  Aggression                18159 non-null  float64
 68  Interceptions             18159 non-null  float64
 69  Positioning               18159 non-null  float64
 70  Vision                    18159 non-null  float64
 71  Penalties                 18159 non-null  float64
 72  Composure                 18159 non-null  float64
 73  Marking                   18159 non-null  float64
 74  StandingTackle            18159 non-null  float64
 75  SlidingTackle             18159 non-null  float64
 76  GKDiving                  18159 non-null  float64
 77  GKHandling                18159 non-null  float64
 78  GKKicking                 18159 non-null  float64
 79  GKPositioning             18159 non-null  float64
 80  GKReflexes                18159 non-null  float64
 81  Release Clause            16643 non-null  object
dtypes: float64(38), int64(4), object(40)
memory usage: 11.5+ MB

___
## 4. Se alguma variável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?

Em alguns casos podemos apenas alterar o tipo. Em outros mais, vamos ter que primeiro fazer uma transformação nos dados para depois trocar o tipo.

In [11]:
# Explorando a variável 'Loaned From'
df_fifa[df_fifa['Loaned From'].notna()]['Loaned From'].head(20)

ID
198710        Real Madrid
167664           Juventus
187961       FC Barcelona
212523         SL Benfica
207410        Real Madrid
               ...
230938           Atalanta
228941              Milan
210455    Atlético Madrid
206652         Sevilla FC
204311            Chelsea
Name: Loaned From, Length: 20, dtype: object

In [15]:
# Explorando as variáveis 'Value', 'Wage', 'Release Clause'
df_fifa[['Value', 'Wage', 'Release Clause']].sample(n=50)

        Value   Wage Release Clause
ID
246089   €50K    €1K           €93K
228759  €800K    €2K          €1.6M
229705  €1.1M    €3K          €2.1M
193896  €525K    €1K          €761K
231701  €475K    €1K          €641K
148635  €120K    €5K          €180K
172768  €5.5M   €53K         €10.5M
233161  €160K    €1K          €232K
241486  €6.5M   €12K         €16.4M
225589  €525K    €1K            €1M
139836  €1.3M   €10K          €2.5M
164459  €2.3M    €9K          €3.1M
235173  €8.5M   €16K         €18.7M
244073  €170K    €1K          €281K
242077  €475K    €1K          €855K
226709  €425K    €3K            NaN
176645  €600K    €3K          €1.1M
186130  €4.4M   €18K          €8.3M
244134  €625K    €2K          €1.6M
220711  €325K    €2K          €431K
220895  €425K    €5K          €733K
224883  €9.5M   €40K           €20M
212790  €600K    €2K          €1.1M
244578  €120K    €3K          €213K
204349  €425K    €3K          €861K
209873  €425K    €1K          €935K
211141  €300K    €4K          €495K
232250  €1.2M   €13K          €2.9M
227576  €230K    €1K          €311K
214099  €750K    €4K            NaN
207828  €270K    €2K          €493K
232597  €575K    €4K          €719K
214884  €725K    €3K            €1M
215010  €775K    €5K            NaN
192857  €180K    €1K          €279K
220166  €950K    €5K            €2M
192448   €58M  €240K        €123.3M
193103  €850K    €4K          €1.2M
181149  €375K    €2K          €544K
236525  €130K    €1K          €172K
140497  €1.1M    €6K          €1.9M
188824  €1.3M   €12K          €2.7M
232620  €825K    €4K            €1M
241245  €110K    €1K          €206K
242158  €350K    €3K          €595K
176048  €3.5M    €9K          €5.3M
202787  €500K    €2K          €788K
204332  €875K    €5K          €1.3M
199578  €625K    €3K          €969K
192125  €230K    €1K          €305K

[50 rows x 3 columns]

Em princípio, as variáveis 'Value', 'Wage' e 'Release Clause tem as seguintes características:
* Tem NaN
* Começa com €
* Tem sufixo K (mil) e M (milhão)
* Tem alguns valores com ponto decimal

In [37]:
# Verificando se 'Value', 'Wage', 'Release Clause' tem outro sufixo que não M ou K
import re
def M_K_suf(val):
    if pd.isna(val): return 0
    suf = re.search(r'€\d+\.?\d*([A-Z]?)', val).group(1)
    if len(suf) > 0 and suf not in ['M', 'K']: return 1
    else: return 0

In [38]:
# Testando se há algum valor em 'Value', 'Wage', 'Release Clause' com sufixo diferente de M ou K
# 0 - padrão confirmado / n - n valores fora do padrão
df_fifa[['Value', 'Wage', 'Release Clause']].applymap(M_K_suf).sum()

Value             0
Wage              0
Release Clause    0
Length: 3, dtype: int64

In [43]:
# Criando uma função para transformar 'Value', 'Wage', 'Release Clause'
def muda_valores(val):
    if pd.isna(val): return val
    info = re.search(r'€(\d+\.?\d*)([A-Z]?)', val)
    valor = float(info.group(1))
    if info.group(2) == 'M': valor *= 1000
    else: valor *= 1000000
    return valor

In [50]:
# Convertendo os valores de 'Value', 'Wage', 'Release Clause'
df_fifa[['Value', 'Wage', 'Release Clause']] = df_fifa[['Value', 'Wage', 'Release Clause']].applymap(muda_valores)
df_fifa[['Value', 'Wage', 'Release Clause']].head(10)

           Value      Wage  Release Clause
ID
158023  110500.0  5.65e+08        226500.0
20801    77000.0  4.05e+08        127100.0
190871  118500.0  2.90e+08        228100.0
193080   72000.0  2.60e+08        138600.0
192985  102000.0  3.55e+08        196400.0
183277   93000.0  3.40e+08        172100.0
177003   67000.0  4.20e+08        137400.0
176580   80000.0  4.55e+08        164000.0
155862   51000.0  3.80e+08        104600.0
200389   68000.0  9.40e+07        144500.0

[10 rows x 3 columns]

In [52]:
# Criando uma função para ajustar o valor das posições
def muda_pos(pos):
    if pd.isna(pos): return pos
    l_pos = pos.split('+')
    if len(l_pos) == 1: return int(pos)
    else: return int(l_pos[0]) + int(l_pos[1])

In [53]:
# Convertendo os valores das posições
df_fifa[['LS','ST','RS','LW','LF','CF','RF','RW','LAM','CAM','RAM','LM','LCM','CM','RCM','RM','LWB','LDM','CDM','RDM',
         'RWB','LB','LCB','CB','RCB','RB']] = df_fifa[['LS','ST','RS','LW','LF','CF','RF','RW','LAM','CAM','RAM','LM',
                                                       'LCM','CM','RCM','RM','LWB','LDM','CDM','RDM','RWB','LB','LCB',
                                                       'CB','RCB','RB']].applymap(muda_pos)

In [54]:
df_fifa[['LS','ST','RS','LW','LF','CF','RF','RW','LAM','CAM','RAM','LM','LCM','CM','RCM','RM','LWB','LDM','CDM','RDM',
         'RWB','LB','LCB','CB','RCB','RB']].head(20)

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
ID,,,,,,,,,,,,,,,,,,,,,,,,,,
158023,90.0,90.0,90.0,94.0,95.0,95.0,95.0,94.0,95.0,95.0,95.0,93.0,86.0,86.0,86.0,93.0,66.0,63.0,63.0,63.0,66.0,61.0,49.0,49.0,49.0,61.0
20801,94.0,94.0,94.0,92.0,93.0,93.0,93.0,92.0,91.0,91.0,91.0,91.0,84.0,84.0,84.0,91.0,68.0,64.0,64.0,64.0,68.0,64.0,56.0,56.0,56.0,64.0
190871,87.0,87.0,87.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,91.0,84.0,84.0,84.0,91.0,68.0,63.0,63.0,63.0,68.0,63.0,50.0,50.0,50.0,63.0
193080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192985,85.0,85.0,85.0,90.0,90.0,90.0,90.0,90.0,91.0,91.0,91.0,91.0,90.0,90.0,90.0,91.0,80.0,80.0,80.0,80.0,80.0,76.0,69.0,69.0,69.0,76.0
183277,86.0,86.0,86.0,92.0,91.0,91.0,91.0,92.0,92.0,92.0,92.0,92.0,85.0,85.0,85.0,92.0,69.0,66.0,66.0,66.0,69.0,63.0,52.0,52.0,52.0,63.0
177003,80.0,80.0,80.0,88.0,87.0,87.0,87.0,88.0,90.0,90.0,90.0,89.0,91.0,91.0,91.0,89.0,85.0,84.0,84.0,84.0,85.0,82.0,74.0,74.0,74.0,82.0
176580,92.0,92.0,92.0,91.0,92.0,92.0,92.0,91.0,90.0,90.0,90.0,89.0,84.0,84.0,84.0,89.0,74.0,73.0,73.0,73.0,74.0,71.0,68.0,68.0,68.0,71.0
155862,76.0,76.0,76.0,73.0,74.0,74.0,74.0,73.0,74.0,74.0,74.0,75.0,78.0,78.0,78.0,75.0,84.0,87.0,87.0,87.0,84.0,87.0,90.0,90.0,90.0,87.0
200389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188545,90.0,90.0,90.0,86.0,89.0,89.0,89.0,86.0,86.0,86.0,86.0,84.0,80.0,80.0,80.0,84.0,64.0,65.0,65.0,65.0,64.0,61.0,60.0,60.0,60.0,61.0
182521,81.0,81.0,81.0,84.0,85.0,85.0,85.0,84.0,87.0,87.0,87.0,85.0,89.0,89.0,89.0,85.0,82.0,85.0,85.0,85.0,82.0,80.0,75.0,75.0,75.0,80.0
182493,67.0,67.0,67.0,64.0,65.0,65.0,65.0,64.0,65.0,65.0,65.0,66.0,71.0,71.0,71.0,66.0,79.0,84.0,84.0,84.0,79.0,82.0,90.0,90.0,90.0,82.0
168542,80.0,80.0,80.0,88.0,87.0,87.0,87.0,88.0,90.0,90.0,90.0,88.0,88.0,88.0,88.0,88.0,72.0,73.0,73.0,73.0,72.0,67.0,60.0,60.0,60.0,67.0
215914,75.0,75.0,75.0,80.0,80.0,80.0,80.0,80.0,82.0,82.0,82.0,82.0,85.0,85.0,85.0,82.0,88.0,90.0,90.0,90.0,88.0,87.0,86.0,86.0,86.0,87.0
211110,86.0,86.0,86.0,90.0,89.0,89.0,89.0,90.0,90.0,90.0,90.0,89.0,82.0,82.0,82.0,89.0,65.0,61.0,61.0,61.0,65.0,59.0,48.0,48.0,48.0,59.0
202126,89.0,89.0,89.0,85.0,87.0,87.0,87.0,85.0,85.0,85.0,85.0,84.0,82.0,82.0,82.0,84.0,68.0,69.0,69.0,69.0,68.0,65.0,63.0,63.0,63.0,65.0
194765,89.0,89.0,89.0,90.0,90.0,90.0,90.0,90.0,89.0,89.0,89.0,89.0,83.0,83.0,83.0,89.0,73.0,70.0,70.0,70.0,73.0,70.0,64.0,64.0,64.0,70.0
192448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Explorando a variável 'Height'
df_fifa['Height'].sample(50)

ID
231858    5'11
215129     5'8
237023     5'9
195687    5'11
210489    5'10
244134     5'9
140424     6'0
237889     6'1
245339     6'1
243334     6'2
222484     6'2
235236     6'1
173660     5'7
243893     6'1
236075     6'2
234171     6'0
242590    5'10
242086    5'11
233998     6'2
221350    5'10
134792    5'11
205256     6'0
239889     5'6
205343    5'11
221562     6'1
201991     6'2
229436     6'1
246256    5'11
192427     5'8
179954     6'2
235909     6'2
199963     5'8
210972    5'10
166879     6'2
241858     6'0
235212    5'11
210428     6'5
240697    5'11
178323     5'9
210536    5'10
246067     5'6
165784     5'6
207471     6'1
238941     6'1
224389     5'9
200895     6'0
207531     6'3
215414     6'2
146562     5'6
184387     6'2
Name: Height, Length: 50, dtype: object

Em princípio a variável 'Height' tem as seguintes características:
* Tem NaN
* Tem um número (pés) --> * por 30.5 cm
* Tem '
* Tem um ou dois números (polegadas) --> * 2.5 cm

In [56]:
# Verificando se tem algum valor que não segue o padrão
def ver_height(h):
    if pd.isna(h): return 0
    if re.search(r"\d+'\d+", h): return 0
    else: return 1

In [57]:
# Testando o padrão dos valores: 0 - padrão confirmado / n - n valores fora do padrão
df_fifa['Height'].map(ver_height).sum()

0

In [58]:
# Função para ajustar valores de 'Height'
def muda_height(h):
    if pd.isna(h): return h
    info = re.search(r"(\d+)'(\d+)", h)
    return (float(info.group(1)) * 30.5) + (float(info.group(2)) * 2.5)

In [59]:
# Ajusta valores de 'Height'
df_fifa['Height'] = df_fifa['Height'].map(muda_height)
df_fifa['Height']

ID
158023    170.0
20801     188.0
190871    175.0
193080    193.0
192985    180.0
          ...
238813    175.0
243165    190.5
241638    172.5
246268    177.5
246269    177.5
Name: Height, Length: 18207, dtype: float64

In [60]:
# Explorando a variável 'Weight'
df_fifa['Weight'].sample(50)

ID
245100    190lbs
246336    159lbs
213228    141lbs
243451    176lbs
20551     170lbs
231027    137lbs
199566    152lbs
178297    161lbs
239003    170lbs
214510    150lbs
189661    176lbs
202107    170lbs
237183    159lbs
186922    168lbs
138412    154lbs
214194    165lbs
209223    150lbs
242854    143lbs
245494    157lbs
142959    174lbs
237683    154lbs
164769    168lbs
219254    194lbs
214371    154lbs
238717    174lbs
244570    194lbs
244017    198lbs
225364    146lbs
197439    181lbs
239802    154lbs
241298    163lbs
214854    152lbs
214331    168lbs
234377    152lbs
214047    157lbs
194022    176lbs
184999    172lbs
187072    176lbs
228763    185lbs
186188    183lbs
232661    163lbs
172780    154lbs
199761    181lbs
245524    130lbs
240409    170lbs
188968    174lbs
197681    170lbs
214384    176lbs
169815    181lbs
189234    165lbs
Name: Weight, Length: 50, dtype: object

Em princípio as características de 'Wheight' são as seguintes:
* Tem NaN
* Tem números seguidos de 'lbs'
* Passar para Kg --> dividir por 2.205

In [63]:
# Função para verificar se há valores em 'Weight' que não atendem o padrão
def ver_weight(w):
    if pd.isna(w): return 0
    if re.search(r'\d+lbs', w): return 0
    else: return 1

In [64]:
# Verfificando se os valores de 'Weight' estão no padrão
# 0 -> Todos os valores estão no padrão / n -> Há 'n' valores fora do padrão
df_fifa['Weight'].map(ver_weight).sum()

0

In [65]:
# Função para ajustar os valores de 'Weight'
def muda_weight(w):
    if pd.isna(w): return w
    return float(re.search(r'(\d+)lbs', w).group(1)) / 2.205

In [66]:
df_fifa['Weight'] = df_fifa['Weight'].map(muda_weight)
df_fifa['Weight'].head(20)

ID
158023    72.11
20801     82.99
190871    68.03
193080    76.19
192985    69.84
183277    73.92
177003    66.21
176580    86.17
155862    82.09
200389    87.07
188545    79.82
182521    76.19
182493    78.00
168542    67.12
215914    72.11
211110    74.83
202126    88.89
194765    73.02
192448    84.81
192119    96.15
Name: Weight, Length: 20, dtype: float64

In [72]:
# Explorando 'Joined', 'Contract Valid Until'
df_fifa[['Joined', 'Contract Valid Until']].sample(50)

              Joined Contract Valid Until
ID
225756  Jul 10, 2017                 2019
172113  Jul 19, 2017                 2019
170084  Jan 31, 2014                 2021
232270           NaN         Jun 30, 2019
228383   Jul 1, 2017                 2022
234853   Jul 1, 2016                 2021
212428  Aug 31, 2018                 2021
222867  Jul 14, 2017                 2023
229875  Aug 31, 2017                 2019
207754  Aug 26, 2017                 2020
245691  Jun 29, 2018                 2021
219647  Jul 26, 2018                 2019
211592           NaN                  NaN
214099           NaN         Jun 30, 2019
181852  Dec 19, 2015                 2018
238839  Jun 28, 2017                 2022
236075   Jan 1, 2018                 2021
207828   Aug 2, 2018                 2019
242147   Jul 1, 2017                 2019
224164   Jul 1, 2017                 2019
240282           NaN         Jun 30, 2019
190093   Jan 1, 2011                 2020
243178   Jul 1, 2017                 2019
219755           NaN         Jun 30, 2019
202035   Jul 8, 2015                 2020
246243   Jul 1, 2018                 2020
237286   Jul 1, 2017                 2019
222524   Jul 1, 2018                 2021
201816   Jul 1, 2016                 2019
199305   Jul 1, 2012                 2020
219864   Aug 8, 2017                 2019
204120   Jul 4, 2018                 2021
177521   Jul 1, 2013                 2019
220665   Oct 5, 2013                 2020
241256   Jan 7, 2014                 2018
225150  Nov 30, 2017                 2019
190492  Oct 23, 2018                 2019
190122  Jan 23, 2015                 2019
245570   Jul 1, 2018                 2021
222582   Jan 1, 2014                 2023
226879   Jul 1, 2018                 2023
245639           NaN         Jun 30, 2019
190640   Jul 5, 2017                 2020
207948   Jul 1, 2017                 2022
226536   Jul 1, 2018                 2022
212369   Jul 1, 2018                 2023
186674   Jan 6, 2015                 2020
199946  Jan 20, 2016                 2020
234967   Jul 1, 2016                 2021
208944   Jul 1, 2016                 2019

[50 rows x 2 columns]

In [69]:
# Alterando os tipos das variáveis
tipos = {'Value': 'float64', 'Wage': 'float64', 'Contract Valid Until': 'int64', 'Height': 'float64', 'Weight': 'float64', 'LS': 'int64',
         'ST': 'int64', 'RS': 'int64', 'LW': 'int64', 'LF': 'int64', 'CF': 'int64', 'RF': 'int64', 'RW': 'int64', 'LAM': 'int64', 'CAM': 'int64',
         'RAM': 'int64', 'LM': 'int64', 'LCM': 'int64', 'CM': 'int64', 'RCM': 'int64', 'RM': 'int64', 'LWB': 'int64', 'LDM': 'int64',
         'CDM': 'int64', 'RDM': 'int64', 'RWB': 'int64', 'LB': 'int64', 'LCB': 'int64', 'CB': 'int64', 'RCB': 'int64', 'RB': 'int64',
         'Release Clause': 'float64'}
df_fifa.astype(tipos)
df_fifa.info()

ValueError: ignored

In [70]:
df_fifa.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,5.65e+08,2202,Left,5.0,4.0,4.0,Medium/ Medium,RF,10.0,"Jul 1, 2004",NaN,2021,170.0,72.11,90.0,90.0,90.0,94.0,95.0,95.0,95.0,94.0,95.0,95.0,95.0,93.0,86.0,86.0,86.0,93.0,66.0,63.0,63.0,63.0,66.0,61.0,49.0,49.0,49.0,61.0,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500.0
20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,4.05e+08,2228,Right,5.0,4.0,5.0,High/ Low,ST,7.0,"Jul 10, 2018",NaN,2022,188.0,82.99,94.0,94.0,94.0,92.0,93.0,93.0,93.0,92.0,91.0,91.0,91.0,91.0,84.0,84.0,84.0,91.0,68.0,64.0,64.0,64.0,68.0,64.0,56.0,56.0,56.0,64.0,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100.0
190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,2.90e+08,2143,Right,5.0,5.0,5.0,High/ Medium,LW,10.0,"Aug 3, 2017",NaN,2022,175.0,68.03,87.0,87.0,87.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,91.0,84.0,84.0,84.0,91.0,68.0,63.0,63.0,63.0,68.0,63.0,50.0,50.0,50.0,63.0,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100.0
193080,De Gea,27,Spain,91,93,Manchester United,72000.0,2.60e+08,1471,Right,4.0,3.0,1.0,Medium/ Medium,GK,1.0,"Jul 1, 2011",NaN,2020,193.0,76.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600.0
192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,3.55e+08,2281,Right,4.0,5.0,4.0,High/ High,RCM,7.0,"Aug 30, 2015",NaN,2023,180.0,69.84,85.0,85.0,85.0,90.0,90.0,90.0,90.0,90.0,91.0,91.0,91.0,91.0,90.0,90.0,90.0,91.0,80.0,80.0,80.0,80.0,80.0,76.0,69.0,69.0,69.0,76.0,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400.0

___
## 5. Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo;

___
## 6. Há Missing values nos dados? Se sim, o qual sua proposta (proposta do grupo) para tratar estes Missing values?

___
## 7. Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.

___
## 8. Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality');

___
## 9. Qual a número de jogadores por idade?

___
## 10. Quantos jogadores possuem cada clube?

___
## 11. Qual a média de idade por clube?

___
## 12. Qual a média de salário por país?

___
## 13. Qual a média de salário por clube?

___
## 14. Qual a média de salário por idade?

___
## 15. Quanto cada clube gasta com pagamento de salários?

___
## 6. Quais são os insight (o que você consegue descobrir) em relação à variável 'Potential' (mede o potencial dos jogadores)?

___
## 17. Quais os insights em relação à variável overall (nota média do atleta) por idade, clube e país?

___
## 18. Quais são os melhores clubes se levarmos em consideração as variáveis Potential e Overall?

___
## 19. Apresente o ranking dos goleiros (use a variável/atributo 'Preferred Positions') por Potencial, Overall. Estamos à procura de 'GK'.

___
## 20. Quem são os jogadores mais rápidos (variável/atributo 'Sprint speed'=?

___
## 21. Quem são os 5 melhores jogadores em termos de chute (força para chutar) (use a variável/atributo 'Shot power')?

___
## 22. Quem são os outliers em termos de salário?

___
## 23. Quem são os outliers em termos de potência no chute?

___
## 24. Qual a correlação e a interpretação entre as variáveis 'value' e as demais variáveis numéricas do dataframe?

___
## 25. Construa variáveis dummy para as colunas preferred_foot e work_rate. preferred_foot_left;